<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
	    <li>
	        <a href="#">Dashboard</a>
	    </li>
	    <li>
	        <a href="#">My Communities</a>
	    </li>
	</ul>
</div>
<!-- /#sidebar-wrapper -->