<!-- Default Navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-logged-in" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Smash Tracker</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-logged-in">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/faq">FAQ</a></li>
        <% if(req.user) { %>
          <li><a href="/u/<%= req.user.username %>/dashboard">Dashboard</a></li>
          <li><a href="/u/<%= req.user.username %>/communities">My Communities</a></li>
          <li><a href="#" id="logout-button">Logout</a></li>
          <li><p class="navbar-text">Signed in as <a href="/u/<%= req.user.username %>" class="navbar-link"><%= req.user.username %></a></p></li>
          <form method="POST" action="/logout" id="logout-form"></form>
        <% } else { %>
          <li><a href="#" data-toggle="modal" data-target="#login-modal">Login/Register</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<!-- \Default Navbar -->