<section id="landing-main">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2>EVER WONDER WHO REALLY HAS THE BETTER RECORD?</h2>
                    <h2>NOW YOU CAN FIND OUT.</h2>
                </div>
                <div class="col-xs-12 text-center main-header">
                    <hSuper>Introducing <span class="green">Smash Tracker</span></hSuper>
                </div>
                <div class="col-xs-12 text-center">
                    <h3>A region focused application to help local community heads and organizers track player progress across any number of matches and tournaments.</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="landing-info">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="section-header"><span class="challonge-orange">Challonge</span> Accepted   <img src="//kxcdn.challonge.com/assets/challonge-logo-110x100-07c2db311947cadc151130d45a96ba72.png" class="img-responsive" alt="Challonge Logo" style="display: inline-block;"></h1>
        </div>
        <div class="col-xs-12">
            <h3><span class="green">Smash Tracker</span> makes use of the Challonge API to upload tournament matches.</h3>
            <h3>Smashers are tracked using their tags. <span class="challonge-orange">Challonge</span> bracket matches are linked to players tags at the time a tournament is uploaded.</h3>
            <h3>Track set counts between players and tournament placings in your region, as well as total sets won and lost.</h3>
            <h3><a href="#" id="login-button" class="btn btn-lg btn-default outline">Sign In</a> and click <span class="green">Upload Tournament</span> to the right to begin.</h3>
            <h3>Don't have an account? <a href="#" id="register-button" class="btn btn-lg btn-default outline">Register Today!</a></h3>
        </div>
        
    </div>
</section>