<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li><a href="/u/<%= req.user.username %>/dashboard">Dashboard</a></li>
        <li><a href="/u/<%= req.user.username %>/communities">My Communities</a></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->