/*
 * Drew Nelson
 * Aug 17 2016
 *
 * Bootstrap overrides for SmashStats
 */

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: @white;
    background-color: @gray;
    .transition;
}

.nav-pills > li > a:hover {
    color: @challonge-orange;
    .transition;

    &.btn-default{
        .whiteOutlineBtn;
    }

    &.btn-primary {
        .greenOutlineBtn;
    }
}

.nav-tabs {
    &.nav-justified {
        background-color: initial;
        font-size: 18px;

        & > li {
            &.active {
                a  {
                    color: @green;
                    border: none;
                    background-color: inherit;

                    & > span {
                        padding-bottom: 4px;
                        border-bottom: 2px solid @green;
                    }

                    &:hover {
                        border: none;
                    }

                    &:focus {
                        border: none;
                    }
                }
            }

            a {
                color: @gray;
                border: none;
            }
        }
    }
}

.navbar-default {
    min-height: 70px;
    border-color: @green;
    background-color: rgba(0, 0, 0, 0.95);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;

    .navbar-brand { 
        color: @text-primary;
        font-size: 24px;
        .transition;
    }

    .navbar-brand:hover { color: @green; }

    .navbar-nav { 

        .open { }

        li { 
            a { 
                color: @text-primary;
                .transition;
                &:hover { color: @green; }
                &:focus { color: @text-primary; }
            } 
        }

        .dropdown-menu {
            background-color: @primary-black;
            border: 1px solid @gray;

            li { a:hover { color: @primary-black; } }
        }

    }

}

.breadcrumb {
    background-color: @dark-gray;
}

.panel {
    background-color: inherit;
}

.panel-default {
    .panel-heading {
        color: @text-primary;
        background-color: inherit;
    }
}

.tab-content {
    .tab-pane {
        padding-top: 15px;
    }
}

.well {
    background-color: @black-half;
    border: 1px solid @white;
}

.form-control {
    background-color: @gray;
    color: @text-primary;
    &:focus { border-color: @green; }
}

.alert-player {
    padding: 5px;
    margin-bottom: 10px;
}

.table-striped > tbody > tr:nth-child(odd)> td, 
.table-striped > tbody > tr:nth-child(odd)> th {
   background-color: @gray;
 }

.modal-content {
    background-color: @dark-gray;
}

.no-border {
    border: none;
}

.close {
    color: @text-primary;
    text-shadow: 0 1px 0 @gray;
}

/********************************/
/*           BUTTONS            */
/********************************/

.btn {
    margin-top: 10px;
    margin-bottom: 10px;

    &.outline {
        background: none;
        padding: 12px 22px;
        .transition;
    }

    &.full {
        width: 100%;
    }
}

.btn-primary {
    .greenOutlineBtn;
}

.btn-default {
    .whiteOutlineBtn;
}

.open {
    .dropdown-toggle {
        &.btn-primary {
            color: @light-green;
            border-color: @light-green;
            .transition;
        }

        &.btn-default {
            color: @primary-black;
            border-color: @white;
            background-color: @white;
            .transition;
        }
    }
}
